body {
	margin: 0 auto;
	width: 770px;
	font-family: Palatino, 'Palatino Linotype', serif;
	text-rendering: optimizeLegibility;
	color: #222;
}
h1 {
	font-size: 3.5em;
	font-weight: normal;
	margin: 5px 0;
}
h2 {
	font-size: 1.8em;
	font-weight: normal;
	margin: 12px 0;
}
h3 {
	font-size: 1.45em;
	font-weight: normal;
	margin: 14px 0 20px 0;
}
span {
	color: #888;
	float: right;
}
table {
	font-size: 18px;
	margin: -5px 12px 16px 12px;
}
tr {
	margin: 50px;
}
th {
	font-weight: normal;
	width: 550px;
}
blockquote {
	font-size: 1.1em;
	font-weight: normal;
	line-height: 26px;
	font-style: italic;
}
header {
	margin: 0 auto -15px;
	padding: 10px;
	text-align: center;
	border-bottom: 1px #888 solid;
}
header p {
	font-size: 1.1em;
	font-weight: normal;
	margin: 5px 0;
}
section {
	margin: 0 auto;
	padding: 10px 0;
	text-align: left;
}
section h2 {
	margin: 30px 10px;
}
section p {
	font-size: 1.1em;
	font-weight: normal;
	font-variant: normal;
	line-height: 26px;
	margin: -5px 0 20px 0;
}