body {
	margin: 0;
	text-rendering: optimizeLegibility;
	color: #222222;
	position: relative;
}
#main_wrap {
	margin: 0 auto;
	width: 600px;
}
#page_head {
	padding: 5px 0 0 0;
	height: 40px;
	border-bottom: 3px #AAAAAA double;
}
#page_footer {
	margin: 5px 0 0 0;
	padding: 5px;
	border-top: 3px #AAAAAA double;
	text-align: center;
}
#page_footer a, a:visited {
	color: #888888;
}
#page_footer a:hover, a:active {
	color: #0099cc;
}
#page_footer p {
	margin: 8px;
	font-size: 1.5em;
}
#home_content {
	text-align: center;
	font-size: 1.6em;
	color: #444444;
	padding: 0 5px 0 5px;
}
.post {
	padding: 0 0 10px 0;
}
.post h1 {
	font-size: 2.6em;
	line-height: 50px;
	margin: 30px 0 0 0;	
}
.post h1:hover {
	text-decoration: underline;
}
.noLink {
	color: #222222;
	font-size: 2.6em;
	margin: -10px 0 50px 0;
}
.post h2 {
	text-decoration: none;
	color: #222222;
	font-size: 1.8em;
	margin: 20px 0 0 0;
}
.post blockquote {
	color: #444444;
	font-style: italic;
	text-align: center;
}
#caption {
	color: #444444;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 1.1em;
	line-height: 26px;
	font-variant: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	margin: -10px 0 0 0;
	font-style: italic;
	text-align: center;
}
.post img {
	display: block;
	margin: 10px auto 0 auto;
	border: 5px solid #DDDDDD;
	max-width: 600px;
}
.post p {
	margin: 10px 0 20px 0;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 1.1em;
	line-height: 26px;
	font-variant: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}
.post-date { 
	color: #555555;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 1.1em;
	line-height: 25px;
	display: inline-block;
}
.post ul {
	margin: 5px 0 15px 0;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 1.1em;
}
.post li {
	margin: 4px 0 4px 0;
}
h1, h2, h3, h4, p, nav {
	font-family: 'OFL Sorts Mill Goudy TT', serif;
	font-weight: normal;
}
a:link, a:visited {
	text-decoration: none;
	color: #0099cc;
}
a:hover, a:active {
	text-decoration: underline;
	color: #0099cc;
}
h1 {
	font-size: 1.7em;
	color: #222222;
	text-decoration: none;
	margin: 0;
}
h1:hover {
	color: #0099cc;
}
h2, h2:visited {
	color: #222222;
	text-decoration: none;
}
a:visited, a:active {
	text-decoration: none;
}
h2:hover {
	color: #0099cc;
}
header {
	width: 122px;
	display: inline-block;
	float: left;
}
nav {
	font-size: 1.3em;
	display: inline-block;
	float: right;
	margin: 5px 0 0 0;
	text-align: right;
}
#page_links {
	text-align: center;
}
#page_links p {
	display: inline-block;
}
#older_page_link {
	display: inline-block;
	width: 150px;
}
#newer_page_link {
	display: inline-block;
	width: 150px;
}
#portrait {
	margin: 5px auto -15px;
}
#archive h1 {
	font-size: 3.4em;
	margin: 10px 0 0 0;	
}
#archive h1:hover {
	color: #222222;
}
#archive h2 {
	font-size: 1.8em;
	margin: 0 0 5px 0;
}
#archive h2:hover {
	color: #222222;
}
#archive a {
	font-size: 1.5em;
	margin: 0 0 5px 0;
}
#archive span { 
	margin: 0 0 10px 0;
	color: #333333;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 1em;
	line-height: 25px;
	display: inline-block;
}
.gist {
	margin: 0 -40px 0 -40px;
}

.gist-meta {
	display: none;
}

.post .gist .gist-file {
	border-bottom-width: 0;
}

iframe {
    margin: 0 0 10px 0;
}
